:root{
    --color-letra-texto: #F3F4F3;
    --color-fondo: #F3701E;
    --color-letra-titulos: #080201;
    --color-fondo-oscuro: #F26821;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;

}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--color-letra-texto);
    box-sizing: border-box;
    font-size: 62.5%;
}
.header{
    height: 10rem;
    color: var(--color-letra-titulos);
    background-color: var(--color-fondo-oscuro); 
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo{
    
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.rjlogo{
    height: 520%;
    width: 520%;
    margin: 0  10rem 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder{
    top:39%;
}
p{
    font-size: 1.5rem;
    font-family: 'Nerko One';

}
h3{
    font-family: 'Nerko One';
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.clean{
    font-size: 2rem;
    width: 5%;
    height: 4rem;
    margin: 2rem 0;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--color-fondo);
}

.cookingBook{
    color: var(--color-letra-titulo);
    background-color: var(--color-busqueda);
    font-size: 2rem;
    height: 80%;
    display: flex; 
    flex-direction: column; /*Darle dirección a los elementos*/
    justify-content: left;
    align-items: left; /*Alinear los elementos*/
    margin: 3rem;
    padding: 4rem;
}
.popular{
    text-align: left;
    font-size: 1.5rem;
}

.recipes{
    display: grid;
    grid-template-columns: repeat(5,10rem 2fr);
    grid-template-rows: repeat(auto-fill, 12rem 2fr);
    gap: 1em;
    margin: 2rem;
    align-items: center;
}

.recipes grid{
    border: 1px solid var(--color-fondo-oscuro);
}
/*
.main{
    font-size: 2rem;
    background-color: var(--color-fondo-oscuro);
    height: 70rem;
    margin: 2.5rem 3rem;
    border-radius: 1.2rem;
    color: var(--color-letra-texto);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.main__input{
    width: 50%;
    height: 4rem;
    margin-top:2rem;
    border-radius: 2rem;
    font-size: 2rem;
    padding-left: 2rem;
}
.main__button{
    width: 10%;
    height: 4rem;
    margin: 2rem 0 0 2rem;
    border: none;
    border-radius: 2rem;
}
.main__button:hover{
    cursor: pointer;
    background-color: var(--color-fondo-oscuro);

}

.recetas{
    position: absolute;
    width: 75%;
    height: 70%;
    top: 30%;
    display: flex;

}
.card{
    position: relative;
    width: 400px ;
    height: 300px;
    margin: 20px;
    
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100% ;
    backface-visibility: hidden;
    border-radius: 5%;
    overflow: hidden;
    transition: .5s;
    
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #0A080A;
}

.card .front img{
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
   
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: var(--color-letra-titulos);
    background: var(--color-fondo);
    text-align: center;
  
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: var(--color-fondo);
    padding: 15px;
    color: var(--color-letra-texto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px --color-letra-titulos;
}

.card .back .link{
    border-top: solid 1px --color-letra-texto;
    height: 50px;
    line-height: 50px;

}
.card .back .link a {
    color: var(--color-letra-texto);
}

.card .back .link h3{
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 2px;
}

.card .back p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}*/

imput::placeholder{
    top:39%;

}



.footer{
    height: 40vh;
    font-size: 2rem;
    background-color: var(--color-fondo-oscuro);
    color: var(--color-letra-texto)

}